@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.question {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin-right: 2.2rem;
}
@media (min-width: 1440px) {
  .question {
    font-size: 1.15rem;
    margin-right: 1rem;
  }
}
.question:hover {
  color: hsl(281, 83%, 54%);
  cursor: pointer;
}
.answer {
  display: none;
  color: hsl(292, 16%, 49%);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
@media (min-width: 1440px) {
  .answer {
    font-size: 1.02rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
  }
}

.answer.active {
  display: block;
}

.line {
  color: hsla(292, 42%, 14%, 0.041);
}
